In [1]:

import pandas as pd
import os
from src.__special__ import indices_path
import numpy as np

file_path = os.path.join(indices_path, 'INDEXP.csv')

INDEXP = pd.read_csv(file_path)

In [2]:
INDEXP

,@date,"@dlog(exp1,0,12)","@dlog(exp2,0,12)","@dlog(exp3,0,12)","@dlog(exp4,0,12)","@dlog(exp5,0,12)","@dlog(exp6,0,12)","@dlog(exp7,0,12)","@dlog(exp8,0,12)","@dlog(exp9,0,12)",...,"@dlog(exp3(-2),0,12)","@dlog(exp4(-2),0,12)","@dlog(exp5(-2),0,12)","@dlog(exp6(-2),0,12)","@dlog(exp7(-2),0,12)","@dlog(exp8(-2),0,12)","@dlog(exp9(-2),0,12)","@dlog(exp10(-2),0,12)","@dlog(exp11(-2),0,12)","@dlog(exp12(-2),0,12)"
0,1995-01-01,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,1995-02-01,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,1995-03-01,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,1995-04-01,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,1995-05-01,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
379,2026-08-01,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
380,2026-09-01,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
381,2026-10-01,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
382,2026-11-01,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
383,2026-12-01,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [3]:
def indices_sin_nan(df):
    """
    Devuelve un vector con los índices del DataFrame en los que todas las columnas
    de cada fila no tienen ningún NaN.

    Parámetros:
    df (pd.DataFrame): DataFrame de entrada.

    Retorna:
    list: Lista de índices donde no hay NaN en ninguna columna de la fila.
    """
    return df.dropna().index.tolist()

# Obtener los índices sin NaN
indices_validos = indices_sin_nan(INDEXP)
indices_validos

[122,
 123,
 124,
 125,
 126,
 127,
 128,
 129,
 130,
 131,
 132,
 133,
 134,
 135,
 136,
 137,
 138,
 139,
 140,
 141,
 142,
 143,
 144,
 145,
 146,
 147,
 148,
 149,
 150,
 151,
 152,
 153,
 154,
 155,
 156,
 157,
 158,
 159,
 160,
 161,
 162,
 163,
 164,
 165,
 166,
 167,
 168,
 169,
 170,
 171,
 172,
 173,
 174,
 175,
 176,
 177,
 178,
 179,
 180,
 181,
 182,
 183,
 184,
 185,
 186,
 187,
 188,
 189,
 190,
 191,
 192,
 193,
 194,
 195,
 196,
 197,
 198,
 199,
 200,
 201,
 202,
 203,
 204,
 205,
 206,
 207,
 208,
 209,
 210,
 211,
 212,
 213,
 214,
 215,
 216,
 217,
 218,
 219,
 220,
 221,
 222,
 223,
 224,
 225,
 226,
 227,
 228,
 229,
 230,
 231,
 232,
 233,
 234,
 235,
 236,
 237,
 238,
 239,
 240,
 241,
 242,
 243,
 244,
 245,
 246,
 247,
 248,
 249,
 250,
 251,
 252,
 253,
 254,
 255,
 256,
 257,
 258,
 259,
 260,
 261,
 262,
 263,
 264,
 265,
 266,
 267,
 268,
 269,
 270,
 271,
 272,
 273,
 274,
 275,
 276,
 277,
 278,
 279,
 280,
 281,
 282,
 283,
 284,
 285,
 286,
 287,
 288,
 289,
 290,
 291,
 292,
 293,
 294,
 295,
 296,
 297,
 298,
 299,
 300,
 301,
 302,
 303,
 304,
 305,
 306,
 307,
 308,
 309,
 310,
 311,
 312,
 313,
 314,
 315,
 316,
 317,
 318,
 319,
 320,
 321,
 322,
 323,
 324,
 325,
 326,
 327,
 328,
 329,
 330,
 331,
 332,
 333,
 334,
 335,
 336,
 337,
 338,
 339,
 340,
 341,
 342,
 343,
 344,
 345,
 346,
 347,
 348,
 349,
 350,
 351,
 352,
 353,
 354,
 355,
 356,
 357,
 358,
 359,
 360,
 361,
 362,
 363,
 364,
 365,
 366,
 367,
 368,
 369,
 370,
 371]

In [4]:
def indices_con_nan(df):
    """
    Devuelve un vector con los índices del DataFrame en los que al menos una columna
    de cada fila contiene un NaN.

    Parámetros:
    df (pd.DataFrame): DataFrame de entrada.

    Retorna:
    list: Lista de índices donde hay al menos un NaN en alguna columna de la fila.
    """
    return df[df.isna().any(axis=1)].index.tolist()

# Obtener los índices con NaN
indices_invalidos = indices_con_nan(INDEXP)
indices_invalidos

[0,
 1,
 2,
 3,
 4,
 5,
 6,
 7,
 8,
 9,
 10,
 11,
 12,
 13,
 14,
 15,
 16,
 17,
 18,
 19,
 20,
 21,
 22,
 23,
 24,
 25,
 26,
 27,
 28,
 29,
 30,
 31,
 32,
 33,
 34,
 35,
 36,
 37,
 38,
 39,
 40,
 41,
 42,
 43,
 44,
 45,
 46,
 47,
 48,
 49,
 50,
 51,
 52,
 53,
 54,
 55,
 56,
 57,
 58,
 59,
 60,
 61,
 62,
 63,
 64,
 65,
 66,
 67,
 68,
 69,
 70,
 71,
 72,
 73,
 74,
 75,
 76,
 77,
 78,
 79,
 80,
 81,
 82,
 83,
 84,
 85,
 86,
 87,
 88,
 89,
 90,
 91,
 92,
 93,
 94,
 95,
 96,
 97,
 98,
 99,
 100,
 101,
 102,
 103,
 104,
 105,
 106,
 107,
 108,
 109,
 110,
 111,
 112,
 113,
 114,
 115,
 116,
 117,
 118,
 119,
 120,
 121,
 372,
 373,
 374,
 375,
 376,
 377,
 378,
 379,
 380,
 381,
 382,
 383]

In [5]:
from sklearn.decomposition import PCA
from sklearn.preprocessing import StandardScaler

# Seleccionar todas las columnas menos la primera
INDEXP_pca = INDEXP.iloc[:, 1:].dropna()  # Esto selecciona todas las columnas excepto la primera y elimina NaN

# Estandarizar datos (equivalente a matriz de correlación en PCA)
scaler = StandardScaler()
data_scaled = scaler.fit_transform(INDEXP_pca)

In [6]:
# Calcular media y desviación estándar ignorando NaN
mean = np.nanmean(INDEXP_pca, axis=0)
std = np.nanstd(INDEXP_pca, axis=0)

# Evitar divisiones por cero en columnas constantes
std[std == 0] = 1

# Aplicar estandarización sin afectar los NaN
data_scaled = (INDEXP_pca - mean) / std

In [15]:
# Guardar los índices originales
indices_originales = INDEXP.index
# Aplicar PCA
n_componentes = 5
pca = PCA(n_components=n_componentes)
pca_result = pca.fit_transform(data_scaled)


pca_final = np.nan*np.ones([INDEXP.shape[0], n_componentes])
pca_final[indices_validos, :] = pca_result
original_values = pd.read_csv(os.path.join(os.path.dirname(indices_path), "variables_originales_exp.csv"))
date = original_values['_date_']
y = np.concatenate((date.to_numpy().reshape(-1, 1), pca_final), axis=1)
columns = [f'FEXP{i}' for i in range(1, n_componentes+1)]
columns = ['date'] + columns

y = pd.DataFrame(y, columns=columns)
y

           date FEXP1 FEXP2 FEXP3 FEXP4 FEXP5
0    1995-01-01   NaN   NaN   NaN   NaN   NaN
1    1995-02-01   NaN   NaN   NaN   NaN   NaN
2    1995-03-01   NaN   NaN   NaN   NaN   NaN
3    1995-04-01   NaN   NaN   NaN   NaN   NaN
4    1995-05-01   NaN   NaN   NaN   NaN   NaN
..          ...   ...   ...   ...   ...   ...
379  2026-08-01   NaN   NaN   NaN   NaN   NaN
380  2026-09-01   NaN   NaN   NaN   NaN   NaN
381  2026-10-01   NaN   NaN   NaN   NaN   NaN
382  2026-11-01   NaN   NaN   NaN   NaN   NaN
383  2026-12-01   NaN   NaN   NaN   NaN   NaN

[384 rows x 6 columns]

In [8]:
explained_variance = pca.explained_variance_ratio_
# 6. Ver la varianza explicada por cada componente


fact_load = pca.components_.T
fact_load

array([[ 1.20797534e-01,  2.61695834e-01,  1.75127618e-01,
        -2.71865419e-01, -2.51007691e-01],
       [ 1.88353376e-01,  1.81101179e-02, -1.63117790e-01,
         1.12744201e-01, -5.42929067e-02],
       [ 1.74244095e-01,  1.56856686e-01, -2.13879264e-01,
        -2.44901417e-02, -6.42558658e-02],
       [ 1.79010049e-01,  1.25593899e-01, -2.10182675e-01,
        -6.28275327e-02, -6.16765603e-02],
       [ 1.42444978e-01,  1.74117478e-01, -3.43515918e-02,
        -2.80596606e-01,  4.81416970e-01],
       [ 1.81703720e-01,  1.04288601e-01, -1.96223744e-01,
        -4.01040610e-02, -3.62180234e-02],
       [ 1.59469006e-01,  2.05319344e-01, -2.41102386e-01,
        -9.66388025e-04, -4.98192135e-02],
       [ 1.69866499e-01,  1.69373398e-01, -2.33973319e-01,
        -1.54363788e-02, -5.72737072e-02],
       [ 1.73798826e-01,  1.53354588e-01, -2.27904718e-01,
        -1.25278424e-02, -4.89508738e-02],
       [ 1.81204796e-01,  1.55678797e-01,  9.05968210e-03,
        -1.92433507e-01, -9.29127662e-02],
       [ 9.47721635e-02,  3.11364815e-01,  1.45480807e-01,
        -2.85499406e-01, -2.31661639e-02],
       [ 1.31663817e-01,  2.67259466e-01,  1.68250792e-01,
        -2.32706650e-01, -1.00235129e-01],
       [ 1.45586160e-01,  1.62450996e-01,  2.07874132e-01,
         2.52051031e-01, -1.60575066e-01],
       [ 1.82495441e-01, -1.71394772e-01, -4.35773072e-02,
        -3.12128817e-02, -7.33317728e-02],
       [ 1.92872535e-01, -5.04621371e-02, -9.67539572e-02,
         2.00538713e-01, -9.98264263e-03],
       [ 1.93428509e-01, -6.33961005e-02, -1.04565024e-01,
         1.51624363e-01, -2.01308050e-02],
       [ 1.64167876e-01,  7.94671206e-02,  5.67715073e-03,
        -3.14762098e-02,  5.21611591e-01],
       [ 1.91426802e-01, -8.46049583e-02, -8.85136110e-02,
         1.09335732e-01, -8.21591759e-03],
       [ 1.86233879e-01, -2.25520820e-02, -1.06613966e-01,
         2.77754444e-01,  4.13779130e-02],
       [ 1.90964323e-01, -4.73220789e-02, -1.08611688e-01,
         2.24511416e-01,  8.51931329e-03],
       [ 1.92280561e-01, -5.77116204e-02, -1.06698608e-01,
         1.95988230e-01,  7.65882743e-03],
       [ 1.95964501e-01,  3.85349821e-02,  7.33379581e-02,
         5.81429459e-03, -6.89302202e-02],
       [ 1.27370073e-01,  1.94931477e-01,  2.01604201e-01,
         3.19320527e-01,  1.12123724e-01],
       [ 1.57091651e-01,  1.63656950e-01,  2.26516741e-01,
         1.37413675e-01, -3.39360663e-02],
       [ 1.44718454e-01, -1.09251382e-02,  3.24785579e-01,
         1.39186032e-01, -1.62063502e-01],
       [ 1.46170343e-01, -2.35450969e-01,  1.51403819e-03,
        -2.80863481e-01, -1.55919141e-01],
       [ 1.69830030e-01, -2.36021991e-01,  3.30442472e-02,
        -1.10483250e-01, -3.49628496e-02],
       [ 1.70035414e-01, -2.35401520e-01,  1.83430030e-02,
        -1.34909651e-01, -4.50096236e-02],
       [ 1.59445564e-01, -7.79588410e-02,  1.08227497e-01,
        -6.88951827e-02,  5.09780613e-01],
       [ 1.65005051e-01, -2.37822217e-01,  2.28440973e-02,
        -1.65332037e-01, -3.86863568e-02],
       [ 1.65769403e-01, -2.36291510e-01,  4.64044530e-02,
        -7.11041383e-02,  2.85336985e-02],
       [ 1.68141237e-01, -2.42537242e-01,  3.14115134e-02,
        -1.05025243e-01, -1.46528952e-02],
       [ 1.68749201e-01, -2.41054113e-01,  2.31222067e-02,
        -1.24265676e-01, -1.82055531e-02],
       [ 1.81918512e-01, -1.10583563e-01,  1.70101642e-01,
        -8.49238031e-02, -8.87577401e-02],
       [ 1.29582170e-01, -1.87941317e-04,  3.47777229e-01,
         1.61900641e-01,  1.28939718e-01],
       [ 1.53668977e-01, -1.36328426e-02,  3.47686613e-01,
         4.69110257e-02, -2.17780060e-02]])

In [9]:
original_values = pd.read_csv(os.path.join(os.path.dirname(indices_path), "variables_originales_exp.csv"))


# Lista de columnas exp1 a exp12
exp_cols = [f'exp{i}' for i in range(1, 13)]

# Calcular la diferencia logarítmica de 12 períodos para cada variable exp1 a exp12
for col in exp_cols:
    original_values[f'dlog_{col}'] = np.log(original_values[col]) - np.log(original_values[col].shift(12))
# Calcular la diferencia logarítmica con un rezago de 1 período
for col in exp_cols:
    original_values[f'dlog_{col}_lag1'] = np.log(original_values[col].shift(1)) - np.log(original_values[col].shift(13))

# Calcular la diferencia logarítmica con un rezago de 2 períodos
for col in exp_cols:
    original_values[f'dlog_{col}_lag2'] = np.log(original_values[col].shift(2)) - np.log(original_values[col].shift(14))

# Mostrar los primeros valores
original_values
date = original_values['_date_']

In [10]:
or_values = original_values.to_numpy()

or_values = or_values[:, 13:]
print(or_values.shape)

(384, 36)

In [11]:
print(np.shape(or_values))
print(np.shape(fact_load))



y = np.dot(or_values, fact_load)
# print(y.shape)

#concatenate the date as first column with the data
y = np.concatenate((date.to_numpy().reshape(-1, 1), y), axis=1)

y[122, 1]

(384, 36)
(36, 5)

0.19712870793259923

In [12]:
FEXPeviews = pd.read_csv("FEXPeviews.txt", delimiter="\t")

FEXPeviews

         _date_  fexp1f  fexp2f  fexp3f  fexp4f  fexp5f
0    1995-01-01     NaN     NaN     NaN     NaN     NaN
1    1995-02-01     NaN     NaN     NaN     NaN     NaN
2    1995-03-01     NaN     NaN     NaN     NaN     NaN
3    1995-04-01     NaN     NaN     NaN     NaN     NaN
4    1995-05-01     NaN     NaN     NaN     NaN     NaN
..          ...     ...     ...     ...     ...     ...
379  2026-08-01     NaN     NaN     NaN     NaN     NaN
380  2026-09-01     NaN     NaN     NaN     NaN     NaN
381  2026-10-01     NaN     NaN     NaN     NaN     NaN
382  2026-11-01     NaN     NaN     NaN     NaN     NaN
383  2026-12-01     NaN     NaN     NaN     NaN     NaN

[384 rows x 6 columns]

In [13]:

y = np.concatenate((date[indices_validos].to_numpy().reshape(-1, 1), pca_result), axis=1)
y

array([['2005-03-01', -0.14082494422895206, -0.368025700395961,
        -0.31434945167157125, 0.15697813345704345, -0.4648696125615637],
       ['2005-04-01', -0.14488084665997975, 0.06138280463915355,
        -0.012603774180852182, -0.5476197861798687, -0.41428865232049944],
       ['2005-05-01', -0.15305285113662184, -0.006971614859199001,
        -0.033366536970044755, 0.11590285338191912, -0.6347858624942],
       ...,
       ['2025-10-01', 0.6161009115254302, -1.0470783260868644,
        -1.2976182098372493, 0.006622113132316942, 0.09356870449638567],
       ['2025-11-01', 0.542027502519125, -0.6507632195039863,
        -1.1034384938793502, -0.3034528701762576, 0.05508169434983279],
       ['2025-12-01', 0.5410883356533615, -0.5150283799027705,
        -1.1330838269998165, -0.09672702122519274, 0.04186313913627805]],
      shape=(250, 6), dtype=object)

In [20]:
variables_arima_exportaciones = pd.read_csv(r'C:\Users\lucas\High-Frequency_GDP_Forecasting\src\modelo\actualizacion_mensual\variables_ecuaciones_arima\variables_arima_exportaciones.txt',delimiter='\t')
variables_arima_exportaciones

,_date_,fexp1,fexp2,fexp3,fexp4,fexp5,pibuem,fvirus,fcexpor,f202004,f202006,f202005
0,1995-01-01,NaN,NaN,NaN,NaN,NaN,NaN,0.0,1.0,0,0,0
1,1995-02-01,NaN,NaN,NaN,NaN,NaN,NaN,0.0,1.0,0,0,0
2,1995-03-01,NaN,NaN,NaN,NaN,NaN,NaN,0.0,1.0,0,0,0
3,1995-04-01,NaN,NaN,NaN,NaN,NaN,NaN,0.0,1.0,0,0,0
4,1995-05-01,NaN,NaN,NaN,NaN,NaN,NaN,0.0,1.0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...
379,2026-08-01,NaN,NaN,NaN,NaN,NaN,NaN,0.0,1.0,0,0,0
380,2026-09-01,NaN,NaN,NaN,NaN,NaN,NaN,0.0,1.0,0,0,0
381,2026-10-01,NaN,NaN,NaN,NaN,NaN,NaN,0.0,1.0,0,0,0
382,2026-11-01,NaN,NaN,NaN,NaN,NaN,NaN,0.0,1.0,0,0,0
383,2026-12-01,NaN,NaN,NaN,NaN,NaN,NaN,0.0,1.0,0,0,0

In [23]:
import statsmodels.api as sm
import pandas as pd
import os
from src.__special__ import indices_path

# Cargar los datos (debes reemplazar 'data.csv' con tu archivo real)

variables_arima_exportaciones = pd.read_csv(r'C:\Users\lucas\High-Frequency_GDP_Forecasting\src\modelo\actualizacion_mensual\variables_ecuaciones_arima\variables_arima_exportaciones.txt',delimiter='\t')
variables_arima_exportaciones.replace([np.inf, -np.inf], np.nan).dropna()

,_date_,fexp1,fexp2,fexp3,fexp4,fexp5,pibuem,fvirus,fcexpor,f202004,f202006,f202005
122,2005-03-01,-0.1262299281817082,-0.385352023212489,-0.3584127202766506,-0.131930253484748,-0.4492327659848498,1.407816692083779,0.0,1.0,0,0,0
123,2005-04-01,-0.1290841668100293,0.0331640853659205,-0.061717331256347,0.5403399582528469,-0.3817573025328903,1.3447724204097988,0.0,1.0,0,0,0
124,2005-05-01,-0.1362683166365114,-0.0319182103154911,-0.0808478293821316,-0.0841509459069392,-0.6067419508347434,1.3954044737879971,0.0,1.0,0,0,0
125,2005-06-01,-0.1283118378310871,-0.0506045993199279,0.3515541460983251,-0.3573333772483993,-0.688534274198337,1.5597128522183767,0.0,1.0,0,0,0
126,2005-07-01,-0.3780154472259935,-0.4321785521195744,-0.276714237921268,-0.5646579880226492,-1.1005302965320087,1.8376975557009343,0.0,1.0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...
354,2024-07-01,0.5415922455297874,-0.0708886608039482,-0.5357358822640568,1.113824787557599,1.528494039354858,0.8158482593225531,0.0,1.0,0,0,0
355,2024-08-01,0.5663527607559213,0.0430421238778381,-0.5043077130113728,0.3243322382790693,1.529098860751348,0.9599123854692876,0.0,1.0,0,0,0
356,2024-09-01,0.6330037719794931,-0.1388101935220675,0.0761603177192434,0.1714298107164414,1.2794612799057774,1.0651946535356334,0.0,1.0,0,0,0
357,2024-10-01,0.644170977656134,0.2970230254210181,-0.1004797242262104,0.7796014213605587,1.0990214718364388,1.131695063521592,0.0,1.0,0,0,0
358,2024-11-01,0.5180377443645792,-0.2148829587280875,-0.2630307543244263,-0.3877141362934577,1.326017704669367,1.1585558285237827,0.0,1.0,0,0,0

In [2]:
import statsmodels.api as sm
import pandas as pd
import os
from src.__special__ import indices_path

# Cargar los datos (debes reemplazar 'data.csv' con tu archivo real)

variables_arima_exportaciones = pd.read_csv(r'C:\Users\lucas\High-Frequency_GDP_Forecasting\src\modelo\actualizacion_mensual\variables_ecuaciones_arima\variables_arima_exportaciones.txt',delimiter='\t')

# Definir las variables dependientes e independientes

def model_exp1():
    y = variables_arima_exportaciones['fexp1'].dropna()
    X = variables_arima_exportaciones['pibuem']

    # Asegúrate de que ambos tengan los mismos índices

    X = X.loc[y.index]  # Alinea X con los índices de y

    X = X[~X.isin([float('inf'), -float('inf')]) & X.notna()]
    model = sm.tsa.ARIMA(y, exog=X, order=(1,0,0), seasonal_order=(0,0,1,12))
    result = model.fit()
    return result

def model_exp2():
    y = variables_arima_exportaciones['fexp2'].diff().dropna()
    X = variables_arima_exportaciones[['fvirus', 'fcexpor']].iloc[1:]

    X = X.loc[y.index]  # Alinea X con los índices de y

    X = X[~X.isin([float('inf'), float('-inf')]).any(axis=1) & X.notna().all(axis=1)]
    model = sm.tsa.ARIMA(y, exog=X, order=(4,0,6), seasonal_order=(0,0,2,12),trend='n')
    result = model.fit()
    return result

def model_exp3():
    y = variables_arima_exportaciones['fexp3'].diff().dropna()
    X = variables_arima_exportaciones[['f202004', 'f202006']].iloc[1:]

    X = X.loc[y.index]  # Alinea X con los índices de y

    X = X[~X.isin([float('inf'), float('-inf')]).any(axis=1) & X.notna().all(axis=1)]
    model = sm.tsa.ARIMA(y, exog=X, order=(2,0,1), seasonal_order=(0,0,1,12), trend='n')
    result = model.fit()
    return result

def model_exp4():
    y = variables_arima_exportaciones['fexp4'].diff().dropna()
    X = variables_arima_exportaciones[['f202004', 'f202005']].iloc[1:]

    X = X.loc[y.index]  # Alinea X con los índices de y

    X = X[~X.isin([float('inf'), float('-inf')]).any(axis=1) & X.notna().all(axis=1)]
    model = sm.tsa.ARIMA(y, exog=X, order=(2,0,2), seasonal_order=(0,0,1,12), trend='n')
    result = model.fit()
    return result

def model_exp5():
    y = variables_arima_exportaciones['fexp5'].diff().dropna()
    X =variables_arima_exportaciones[['f202005']].iloc[1:]

    X = X.loc[y.index]  # Alinea X con los índices de y

    X = X[~X.isin([float('inf'), float('-inf')]).any(axis=1) & X.notna().all(axis=1)]
    model = sm.tsa.ARIMA(y, exog=X, order=(1,0,0), seasonal_order=(0,0,1,12), trend='n')
    result = model.fit()
    return result

# Ajustar los modelos
results = {
    'EXP1': model_exp1(),
    'EXP2': model_exp2(),
    'EXP3': model_exp3(),
    'EXP4': model_exp4(),
    'EXP5': model_exp5()
}

# Mostrar los resúmenes
for key, res in results.items():
    print(f'Model {key} Summary:\n', res.summary())

C:\Users\lucas\High-Frequency_GDP_Forecasting\.venv\lib\site-packages\statsmodels\tsa\base\tsa_model.py:473: ValueWarning: An unsupported index was provided. As a result, forecasts cannot be generated. To use the model for forecasting, use one of the supported classes of index.
  self._init_dates(dates, freq)
C:\Users\lucas\High-Frequency_GDP_Forecasting\.venv\lib\site-packages\statsmodels\tsa\base\tsa_model.py:473: ValueWarning: An unsupported index was provided. As a result, forecasts cannot be generated. To use the model for forecasting, use one of the supported classes of index.
  self._init_dates(dates, freq)
C:\Users\lucas\High-Frequency_GDP_Forecasting\.venv\lib\site-packages\statsmodels\tsa\base\tsa_model.py:473: ValueWarning: An unsupported index was provided. As a result, forecasts cannot be generated. To use the model for forecasting, use one of the supported classes of index.
  self._init_dates(dates, freq)
C:\Users\lucas\High-Frequency_GDP_Forecasting\.venv\lib\site-packages\statsmodels\tsa\base\tsa_model.py:473: ValueWarning: An unsupported index was provided. As a result, forecasts cannot be generated. To use the model for forecasting, use one of the supported classes of index.
  self._init_dates(dates, freq)
C:\Users\lucas\High-Frequency_GDP_Forecasting\.venv\lib\site-packages\statsmodels\tsa\base\tsa_model.py:473: ValueWarning: An unsupported index was provided. As a result, forecasts cannot be generated. To use the model for forecasting, use one of the supported classes of index.
  self._init_dates(dates, freq)
C:\Users\lucas\High-Frequency_GDP_Forecasting\.venv\lib\site-packages\statsmodels\tsa\base\tsa_model.py:473: ValueWarning: An unsupported index was provided. As a result, forecasts cannot be generated. To use the model for forecasting, use one of the supported classes of index.
  self._init_dates(dates, freq)
C:\Users\lucas\High-Frequency_GDP_Forecasting\.venv\lib\site-packages\statsmodels\base\model.py:607: ConvergenceWarning: Maximum Likelihood optimization failed to converge. Check mle_retvals
  warnings.warn("Maximum Likelihood optimization failed to "
C:\Users\lucas\High-Frequency_GDP_Forecasting\.venv\lib\site-packages\statsmodels\tsa\base\tsa_model.py:473: ValueWarning: An unsupported index was provided. As a result, forecasts cannot be generated. To use the model for forecasting, use one of the supported classes of index.
  self._init_dates(dates, freq)
C:\Users\lucas\High-Frequency_GDP_Forecasting\.venv\lib\site-packages\statsmodels\tsa\base\tsa_model.py:473: ValueWarning: An unsupported index was provided. As a result, forecasts cannot be generated. To use the model for forecasting, use one of the supported classes of index.
  self._init_dates(dates, freq)
C:\Users\lucas\High-Frequency_GDP_Forecasting\.venv\lib\site-packages\statsmodels\tsa\base\tsa_model.py:473: ValueWarning: An unsupported index was provided. As a result, forecasts cannot be generated. To use the model for forecasting, use one of the supported classes of index.
  self._init_dates(dates, freq)
C:\Users\lucas\High-Frequency_GDP_Forecasting\.venv\lib\site-packages\statsmodels\tsa\statespace\sarimax.py:966: UserWarning: Non-stationary starting autoregressive parameters found. Using zeros as starting parameters.
  warn('Non-stationary starting autoregressive parameters'
C:\Users\lucas\High-Frequency_GDP_Forecasting\.venv\lib\site-packages\statsmodels\tsa\statespace\sarimax.py:978: UserWarning: Non-invertible starting MA parameters found. Using zeros as starting parameters.
  warn('Non-invertible starting MA parameters found.'
C:\Users\lucas\High-Frequency_GDP_Forecasting\.venv\lib\site-packages\statsmodels\base\model.py:607: ConvergenceWarning: Maximum Likelihood optimization failed to converge. Check mle_retvals
  warnings.warn("Maximum Likelihood optimization failed to "
C:\Users\lucas\High-Frequency_GDP_Forecasting\.venv\lib\site-packages\statsmodels\tsa\base\tsa_model.py:473: ValueWarning: An unsupported index was provided. As a result, forecasts cannot be generated. To use the model for forecasting, use one of the supported classes of index.
  self._init_dates(dates, freq)
C:\Users\lucas\High-Frequency_GDP_Forecasting\.venv\lib\site-packages\statsmodels\tsa\base\tsa_model.py:473: ValueWarning: An unsupported index was provided. As a result, forecasts cannot be generated. To use the model for forecasting, use one of the supported classes of index.
  self._init_dates(dates, freq)
C:\Users\lucas\High-Frequency_GDP_Forecasting\.venv\lib\site-packages\statsmodels\tsa\base\tsa_model.py:473: ValueWarning: An unsupported index was provided. As a result, forecasts cannot be generated. To use the model for forecasting, use one of the supported classes of index.
  self._init_dates(dates, freq)

Model EXP1 Summary:
                                      SARIMAX Results
==========================================================================================
Dep. Variable:                              fexp1   No. Observations:                  237
Model:             ARIMA(1, 0, 0)x(0, 0, [1], 12)   Log Likelihood                -336.731
Date:                            Wed, 12 Feb 2025   AIC                            683.462
Time:                                    18:39:25   BIC                            700.802
Sample:                                         0   HQIC                           690.451
                                            - 237
Covariance Type:                              opg
==============================================================================
                 coef    std err          z      P>|z|      [0.025      0.975]
------------------------------------------------------------------------------
const         -1.2820      0.507     -2.529      0.011      -2.275      -0.289
pibuem         1.1454      0.060     19.088      0.000       1.028       1.263
ar.L1          0.9528      0.031     30.980      0.000       0.893       1.013
ma.S.L12      -0.8828      0.058    -15.237      0.000      -0.996      -0.769
sigma2         0.9261      0.033     28.463      0.000       0.862       0.990
===================================================================================
Ljung-Box (L1) (Q):                  85.37   Jarque-Bera (JB):             23616.18
Prob(Q):                              0.00   Prob(JB):                         0.00
Heteroskedasticity (H):              37.40   Skew:                            -5.37
Prob(H) (two-sided):                  0.00   Kurtosis:                        50.71
===================================================================================

Warnings:
[1] Covariance matrix calculated using the outer product of gradients (complex-step).
Model EXP2 Summary:
                                        SARIMAX Results
=============================================================================================
Dep. Variable:                                 fexp2   No. Observations:                  236
Model:             ARIMA(4, 0, 6)x(0, 0, [1, 2], 12)   Log Likelihood                -303.637
Date:                               Wed, 12 Feb 2025   AIC                            637.274
Time:                                       18:39:25   BIC                            689.231
Sample:                                            0   HQIC                           658.218
                                               - 236
Covariance Type:                                 opg
==============================================================================
                 coef    std err          z      P>|z|      [0.025      0.975]
------------------------------------------------------------------------------
fvirus         0.9683      0.313      3.094      0.002       0.355       1.582
fcexpor       -0.0007      0.003     -0.220      0.826      -0.007       0.006
ar.L1          1.0395      2.841      0.366      0.714      -4.528       6.607
ar.L2         -1.3124      2.033     -0.646      0.519      -5.297       2.673
ar.L3          0.5210      2.111      0.247      0.805      -3.616       4.658
ar.L4         -0.2432      0.677     -0.359      0.719      -1.570       1.084
ma.L1         -0.5124      2.847     -0.180      0.857      -6.093       5.068
ma.L2         -0.0582      0.950     -0.061      0.951      -1.921       1.804
ma.L3          0.3421      1.251      0.273      0.785      -2.110       2.794
ma.L4         -0.4183      0.478     -0.874      0.382      -1.356       0.519
ma.L5         -0.0045      0.858     -0.005      0.996      -1.686       1.677
ma.L6         -0.1030      0.305     -0.338      0.735      -0.700       0.494
ma.S.L12      -0.9300      2.468     -0.377      0.706      -5.767       3.907
ma.S.L24      -0.0673      0.241     -0.280      0.780      -0.539       0.404
sigma2         0.6459      1.596      0.405      0.686      -2.482       3.774
===================================================================================
Ljung-Box (L1) (Q):                   0.00   Jarque-Bera (JB):              6910.87
Prob(Q):                              1.00   Prob(JB):                         0.00
Heteroskedasticity (H):               6.55   Skew:                            -1.28
Prob(H) (two-sided):                  0.00   Kurtosis:                        29.39
===================================================================================

Warnings:
[1] Covariance matrix calculated using the outer product of gradients (complex-step).
Model EXP3 Summary:
                                     SARIMAX Results
========================================================================================
Dep. Variable:                            fexp3   No. Observations:                  236
Model:             ARIMA(2, 0, 1)x(0, 0, 1, 12)   Log Likelihood                -220.947
Date:                          Wed, 12 Feb 2025   AIC                            455.895
Time:                                  18:39:25   BIC                            480.141
Sample:                                       0   HQIC                           465.669
                                          - 236
Covariance Type:                            opg
==============================================================================
                 coef    std err          z      P>|z|      [0.025      0.975]
------------------------------------------------------------------------------
f202004       -4.7647      4.888     -0.975      0.330     -14.346       4.816
f202006       -1.3627      0.165     -8.237      0.000      -1.687      -1.038
ar.L1         -0.8401      0.070    -11.932      0.000      -0.978      -0.702
ar.L2          0.1102      0.047      2.368      0.018       0.019       0.201
ma.L1          0.9989      0.806      1.239      0.215      -0.581       2.578
ma.S.L12      -0.9997     14.700     -0.068      0.946     -29.810      27.811
sigma2         0.3210      4.702      0.068      0.946      -8.895       9.537
===================================================================================
Ljung-Box (L1) (Q):                   0.01   Jarque-Bera (JB):              5344.95
Prob(Q):                              0.90   Prob(JB):                         0.00
Heteroskedasticity (H):               3.30   Skew:                            -1.96
Prob(H) (two-sided):                  0.00   Kurtosis:                        25.98
===================================================================================

Warnings:
[1] Covariance matrix calculated using the outer product of gradients (complex-step).
Model EXP4 Summary:
                                      SARIMAX Results
==========================================================================================
Dep. Variable:                              fexp4   No. Observations:                  236
Model:             ARIMA(2, 0, 2)x(0, 0, [1], 12)   Log Likelihood                -253.098
Date:                            Wed, 12 Feb 2025   AIC                            522.197
Time:                                    18:39:25   BIC                            549.907
Sample:                                         0   HQIC                           533.367
                                            - 236
Covariance Type:                              opg
==============================================================================
                 coef    std err          z      P>|z|      [0.025      0.975]
------------------------------------------------------------------------------
f202004        0.8149      0.168      4.850      0.000       0.486       1.144
f202005        0.2711      0.170      1.599      0.110      -0.061       0.603
ar.L1          0.5030      0.113      4.435      0.000       0.281       0.725
ar.L2         -0.4400      0.043    -10.132      0.000      -0.525      -0.355
ma.L1         -1.4417      0.117    -12.338      0.000      -1.671      -1.213
ma.L2          0.5867      0.111      5.270      0.000       0.369       0.805
ma.S.L12      -0.9936      0.900     -1.104      0.270      -2.758       0.771
sigma2         0.4221      0.364      1.160      0.246      -0.291       1.135
===================================================================================
Ljung-Box (L1) (Q):                   0.19   Jarque-Bera (JB):              2352.35
Prob(Q):                              0.66   Prob(JB):                         0.00
Heteroskedasticity (H):               3.30   Skew:                             0.52
Prob(H) (two-sided):                  0.00   Kurtosis:                        18.43
===================================================================================

Warnings:
[1] Covariance matrix calculated using the outer product of gradients (complex-step).
Model EXP5 Summary:
                                      SARIMAX Results
==========================================================================================
Dep. Variable:                              fexp5   No. Observations:                  236
Model:             ARIMA(1, 0, 0)x(0, 0, [1], 12)   Log Likelihood                 -29.044
Date:                            Wed, 12 Feb 2025   AIC                             66.088
Time:                                    18:39:25   BIC                             79.944
Sample:                                         0   HQIC                            71.674
                                            - 236
Covariance Type:                              opg
==============================================================================
                 coef    std err          z      P>|z|      [0.025      0.975]
------------------------------------------------------------------------------
f202005       -0.4129      0.071     -5.839      0.000      -0.551      -0.274
ar.L1          0.1707      0.040      4.219      0.000       0.091       0.250
ma.S.L12      -0.7945      0.050    -16.006      0.000      -0.892      -0.697
sigma2         0.0712      0.005     14.535      0.000       0.062       0.081
===================================================================================
Ljung-Box (L1) (Q):                   0.00   Jarque-Bera (JB):                44.05
Prob(Q):                              0.96   Prob(JB):                         0.00
Heteroskedasticity (H):               1.46   Skew:                            -0.30
Prob(H) (two-sided):                  0.09   Kurtosis:                         5.03
===================================================================================

Warnings:
[1] Covariance matrix calculated using the outer product of gradients (complex-step).

C:\Users\lucas\High-Frequency_GDP_Forecasting\.venv\lib\site-packages\statsmodels\base\model.py:607: ConvergenceWarning: Maximum Likelihood optimization failed to converge. Check mle_retvals
  warnings.warn("Maximum Likelihood optimization failed to "
C:\Users\lucas\High-Frequency_GDP_Forecasting\.venv\lib\site-packages\statsmodels\tsa\base\tsa_model.py:473: ValueWarning: An unsupported index was provided. As a result, forecasts cannot be generated. To use the model for forecasting, use one of the supported classes of index.
  self._init_dates(dates, freq)
C:\Users\lucas\High-Frequency_GDP_Forecasting\.venv\lib\site-packages\statsmodels\tsa\base\tsa_model.py:473: ValueWarning: An unsupported index was provided. As a result, forecasts cannot be generated. To use the model for forecasting, use one of the supported classes of index.
  self._init_dates(dates, freq)
C:\Users\lucas\High-Frequency_GDP_Forecasting\.venv\lib\site-packages\statsmodels\tsa\base\tsa_model.py:473: ValueWarning: An unsupported index was provided. As a result, forecasts cannot be generated. To use the model for forecasting, use one of the supported classes of index.
  self._init_dates(dates, freq)

In [27]:
import pandas as pd
import statsmodels.api as sm

# Cargar datos
variables_arima_exportaciones = pd.read_csv(r'C:\Users\lucas\High-Frequency_GDP_Forecasting\src\modelo\actualizacion_mensual\variables_ecuaciones_arima\variables_arima_exportaciones.txt', delimiter='\t')

def modelo_ols():
    """
    Ajusta un modelo OLS usando datos desde 2005-04-01 hasta 2024-11-01.
    Se aseguran alineaciones correctas y se evitan pérdidas innecesarias de datos.
    """
    # Copia del DataFrame original
    df = variables_arima_exportaciones.copy()

    # Convertir la columna de fecha a formato datetime si no está ya en ese formato
    df['_date_'] = pd.to_datetime(df['_date_'])

    # Filtrar el rango de fechas deseado
    df = df[(df['_date_'] >= "2005-04-01") & (df['_date_'] <= "2024-11-01")]

    # Crear la primera diferencia de 'fexp2'
    df['D(FEXP2)'] = df['fexp2'].diff()

    # Eliminar NaN solo generados por la diferenciación
    df.dropna(inplace=True)

    # Definir variables exógenas (verificación de existencia)
    exog_vars = ['fvirus', 'fcexpor']
    for var in exog_vars:
        if var not in df.columns:
            raise ValueError(f"La columna '{var}' no existe en el DataFrame.")

    X_exog = df[exog_vars]

    # Crear retardos de la variable dependiente 'D(FEXP2)'
    lag_orders = {'AR': [1, 4], 'MA': [2, 6], 'SMA': [12, 24]}

    # Crear DataFrame con los retardos
    lagged_data = {
        f"{name}({lag})": df['D(FEXP2)'].shift(lag)
        for name, lags in lag_orders.items()
        for lag in lags
    }

    lagged_df = pd.DataFrame(lagged_data, index=df.index)

    # Concatenar variables en X
    X = pd.concat([X_exog, lagged_df], axis=1)

    # Eliminar valores NaN generados por los lags
    X.dropna(inplace=True)
    y = df['D(FEXP2)'].loc[X.index]  # Asegurar alineación

    # Ajustar el modelo sin constante (para coincidir con la tabla original)
    modelo = sm.OLS(y, X).fit()

    # Mostrar resultados
    print(modelo.summary())

    return modelo  # Retornar el modelo ajustado

# Ejecutar el modelo con el rango de fechas correcto
resultado_ols = modelo_ols()

                                 OLS Regression Results
=======================================================================================
Dep. Variable:               D(FEXP2)   R-squared (uncentered):                   0.709
Model:                            OLS   Adj. R-squared (uncentered):              0.698
Method:                 Least Squares   F-statistic:                              61.94
Date:                Tue, 11 Feb 2025   Prob (F-statistic):                    2.26e-50
Time:                        20:17:09   Log-Likelihood:                         -318.79
No. Observations:                 211   AIC:                                      653.6
Df Residuals:                     203   BIC:                                      680.4
Df Model:                           8
Covariance Type:            nonrobust
==============================================================================
                 coef    std err          t      P>|t|      [0.025      0.975]
------------------------------------------------------------------------------
fvirus         4.7723      0.838      5.694      0.000       3.120       6.425
fcexpor       -0.0006      0.061     -0.010      0.992      -0.121       0.119
AR(1)          0.2661      0.047      5.681      0.000       0.174       0.359
AR(4)         -0.3682      0.065     -5.663      0.000      -0.496      -0.240
MA(2)         -0.8655      0.059    -14.634      0.000      -0.982      -0.749
MA(6)         -0.1916      0.051     -3.765      0.000      -0.292      -0.091
SMA(12)       -0.2678      0.050     -5.305      0.000      -0.367      -0.168
SMA(24)       -0.1783      0.045     -3.958      0.000      -0.267      -0.089
==============================================================================
Omnibus:                       78.586   Durbin-Watson:                   1.560
Prob(Omnibus):                  0.000   Jarque-Bera (JB):             1037.230
Skew:                           1.003   Prob(JB):                    5.87e-226
Kurtosis:                      13.675   Cond. No.                         32.7
==============================================================================

Notes:
[1] R² is computed without centering (uncentered) since the model does not contain a constant.
[2] Standard Errors assume that the covariance matrix of the errors is correctly specified.