In [19]:

import pandas as pd
import os
from src.__special__ import indices_path
import numpy as np

file_path = os.path.join(indices_path, 'INDEXP.csv')

INDEXP = pd.read_csv(file_path)

In [23]:
INDEXP

,@date,"@dlog(exp1,0,12)","@dlog(exp2,0,12)","@dlog(exp3,0,12)","@dlog(exp4,0,12)","@dlog(exp5,0,12)","@dlog(exp6,0,12)","@dlog(exp7,0,12)","@dlog(exp8,0,12)","@dlog(exp9,0,12)",...,"@dlog(exp3(-2),0,12)","@dlog(exp4(-2),0,12)","@dlog(exp5(-2),0,12)","@dlog(exp6(-2),0,12)","@dlog(exp7(-2),0,12)","@dlog(exp8(-2),0,12)","@dlog(exp9(-2),0,12)","@dlog(exp10(-2),0,12)","@dlog(exp11(-2),0,12)","@dlog(exp12(-2),0,12)"
0,1995-01-01,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,1995-02-01,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,1995-03-01,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,1995-04-01,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,1995-05-01,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
379,2026-08-01,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
380,2026-09-01,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
381,2026-10-01,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
382,2026-11-01,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
383,2026-12-01,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [25]:
def indices_sin_nan(df):
    """
    Devuelve un vector con los índices del DataFrame en los que todas las columnas
    de cada fila no tienen ningún NaN.

    Parámetros:
    df (pd.DataFrame): DataFrame de entrada.

    Retorna:
    list: Lista de índices donde no hay NaN en ninguna columna de la fila.
    """
    return df.dropna().index.tolist()

# Obtener los índices sin NaN
indices_validos = indices_sin_nan(INDEXP)
indices_validos

[122,
 123,
 124,
 125,
 126,
 127,
 128,
 129,
 130,
 131,
 132,
 133,
 134,
 135,
 136,
 137,
 138,
 139,
 140,
 141,
 142,
 143,
 144,
 145,
 146,
 147,
 148,
 149,
 150,
 151,
 152,
 153,
 154,
 155,
 156,
 157,
 158,
 159,
 160,
 161,
 162,
 163,
 164,
 165,
 166,
 167,
 168,
 169,
 170,
 171,
 172,
 173,
 174,
 175,
 176,
 177,
 178,
 179,
 180,
 181,
 182,
 183,
 184,
 185,
 186,
 187,
 188,
 189,
 190,
 191,
 192,
 193,
 194,
 195,
 196,
 197,
 198,
 199,
 200,
 201,
 202,
 203,
 204,
 205,
 206,
 207,
 208,
 209,
 210,
 211,
 212,
 213,
 214,
 215,
 216,
 217,
 218,
 219,
 220,
 221,
 222,
 223,
 224,
 225,
 226,
 227,
 228,
 229,
 230,
 231,
 232,
 233,
 234,
 235,
 236,
 237,
 238,
 239,
 240,
 241,
 242,
 243,
 244,
 245,
 246,
 247,
 248,
 249,
 250,
 251,
 252,
 253,
 254,
 255,
 256,
 257,
 258,
 259,
 260,
 261,
 262,
 263,
 264,
 265,
 266,
 267,
 268,
 269,
 270,
 271,
 272,
 273,
 274,
 275,
 276,
 277,
 278,
 279,
 280,
 281,
 282,
 283,
 284,
 285,
 286,
 287,
 288,
 289,
 290,
 291,
 292,
 293,
 294,
 295,
 296,
 297,
 298,
 299,
 300,
 301,
 302,
 303,
 304,
 305,
 306,
 307,
 308,
 309,
 310,
 311,
 312,
 313,
 314,
 315,
 316,
 317,
 318,
 319,
 320,
 321,
 322,
 323,
 324,
 325,
 326,
 327,
 328,
 329,
 330,
 331,
 332,
 333,
 334,
 335,
 336,
 337,
 338,
 339,
 340,
 341,
 342,
 343,
 344,
 345,
 346,
 347,
 348,
 349,
 350,
 351,
 352,
 353,
 354,
 355,
 356,
 357,
 358,
 359,
 360,
 361,
 362,
 363,
 364,
 365,
 366,
 367,
 368,
 369,
 370,
 371]

In [26]:
def indices_con_nan(df):
    """
    Devuelve un vector con los índices del DataFrame en los que al menos una columna
    de cada fila contiene un NaN.

    Parámetros:
    df (pd.DataFrame): DataFrame de entrada.

    Retorna:
    list: Lista de índices donde hay al menos un NaN en alguna columna de la fila.
    """
    return df[df.isna().any(axis=1)].index.tolist()

# Obtener los índices con NaN
indices_invalidos = indices_con_nan(INDEXP)
indices_invalidos

[0,
 1,
 2,
 3,
 4,
 5,
 6,
 7,
 8,
 9,
 10,
 11,
 12,
 13,
 14,
 15,
 16,
 17,
 18,
 19,
 20,
 21,
 22,
 23,
 24,
 25,
 26,
 27,
 28,
 29,
 30,
 31,
 32,
 33,
 34,
 35,
 36,
 37,
 38,
 39,
 40,
 41,
 42,
 43,
 44,
 45,
 46,
 47,
 48,
 49,
 50,
 51,
 52,
 53,
 54,
 55,
 56,
 57,
 58,
 59,
 60,
 61,
 62,
 63,
 64,
 65,
 66,
 67,
 68,
 69,
 70,
 71,
 72,
 73,
 74,
 75,
 76,
 77,
 78,
 79,
 80,
 81,
 82,
 83,
 84,
 85,
 86,
 87,
 88,
 89,
 90,
 91,
 92,
 93,
 94,
 95,
 96,
 97,
 98,
 99,
 100,
 101,
 102,
 103,
 104,
 105,
 106,
 107,
 108,
 109,
 110,
 111,
 112,
 113,
 114,
 115,
 116,
 117,
 118,
 119,
 120,
 121,
 372,
 373,
 374,
 375,
 376,
 377,
 378,
 379,
 380,
 381,
 382,
 383]

In [28]:
from sklearn.decomposition import PCA
from sklearn.preprocessing import StandardScaler

# Seleccionar todas las columnas menos la primera
INDEXP_pca = INDEXP.iloc[:, 1:].dropna()  # Esto selecciona todas las columnas excepto la primera y elimina NaN

# Estandarizar datos (equivalente a matriz de correlación en PCA)
scaler = StandardScaler()
data_scaled = scaler.fit_transform(INDEXP_pca)

In [29]:
# Calcular media y desviación estándar ignorando NaN
mean = np.nanmean(INDEXP_pca, axis=0)
std = np.nanstd(INDEXP_pca, axis=0)

# Evitar divisiones por cero en columnas constantes
std[std == 0] = 1

# Aplicar estandarización sin afectar los NaN
data_scaled = (INDEXP_pca - mean) / std
data_scaled.shape
INDEXP_pca.shape

(250, 36)

In [38]:
# Guardar los índices originales
indices_originales = INDEXP.index
# Aplicar PCA
pca = PCA(n_components=5)
pca_result = pca.fit_transform(data_scaled)

# Convertir resultados en DataFrame
pca_df = pd.DataFrame(pca_result, index=INDEXP_pca.index, columns=[f'PC{i+1}' for i in range(5)])

# Reconstruir el DataFrame con la estructura original
pca_final = pd.DataFrame(index=indices_originales, columns=pca_df.columns)
pca_final.loc[pca_df.index] = pca_df

# Convertir a tipo float para evitar que sean objetos
pca_final = pca_final.astype(float)

pca_final

     PC1  PC2  PC3  PC4  PC5
0    NaN  NaN  NaN  NaN  NaN
1    NaN  NaN  NaN  NaN  NaN
2    NaN  NaN  NaN  NaN  NaN
3    NaN  NaN  NaN  NaN  NaN
4    NaN  NaN  NaN  NaN  NaN
..   ...  ...  ...  ...  ...
379  NaN  NaN  NaN  NaN  NaN
380  NaN  NaN  NaN  NaN  NaN
381  NaN  NaN  NaN  NaN  NaN
382  NaN  NaN  NaN  NaN  NaN
383  NaN  NaN  NaN  NaN  NaN

[384 rows x 5 columns]

In [7]:
explained_variance = pca.explained_variance_ratio_
# 6. Ver la varianza explicada por cada componente


fact_load = pca.components_.T
fact_load

array([[ 1.20797534e-01,  2.61695834e-01,  1.75127618e-01,
        -2.71865419e-01, -2.51007691e-01],
       [ 1.88353376e-01,  1.81101179e-02, -1.63117790e-01,
         1.12744201e-01, -5.42929067e-02],
       [ 1.74244095e-01,  1.56856686e-01, -2.13879264e-01,
        -2.44901417e-02, -6.42558658e-02],
       [ 1.79010049e-01,  1.25593899e-01, -2.10182675e-01,
        -6.28275327e-02, -6.16765603e-02],
       [ 1.42444978e-01,  1.74117478e-01, -3.43515918e-02,
        -2.80596606e-01,  4.81416970e-01],
       [ 1.81703720e-01,  1.04288601e-01, -1.96223744e-01,
        -4.01040610e-02, -3.62180234e-02],
       [ 1.59469006e-01,  2.05319344e-01, -2.41102386e-01,
        -9.66388025e-04, -4.98192135e-02],
       [ 1.69866499e-01,  1.69373398e-01, -2.33973319e-01,
        -1.54363788e-02, -5.72737072e-02],
       [ 1.73798826e-01,  1.53354588e-01, -2.27904718e-01,
        -1.25278424e-02, -4.89508738e-02],
       [ 1.81204796e-01,  1.55678797e-01,  9.05968210e-03,
        -1.92433507e-01, -9.29127662e-02],
       [ 9.47721635e-02,  3.11364815e-01,  1.45480807e-01,
        -2.85499406e-01, -2.31661639e-02],
       [ 1.31663817e-01,  2.67259466e-01,  1.68250792e-01,
        -2.32706650e-01, -1.00235129e-01],
       [ 1.45586160e-01,  1.62450996e-01,  2.07874132e-01,
         2.52051031e-01, -1.60575066e-01],
       [ 1.82495441e-01, -1.71394772e-01, -4.35773072e-02,
        -3.12128817e-02, -7.33317728e-02],
       [ 1.92872535e-01, -5.04621371e-02, -9.67539572e-02,
         2.00538713e-01, -9.98264263e-03],
       [ 1.93428509e-01, -6.33961005e-02, -1.04565024e-01,
         1.51624363e-01, -2.01308050e-02],
       [ 1.64167876e-01,  7.94671206e-02,  5.67715073e-03,
        -3.14762098e-02,  5.21611591e-01],
       [ 1.91426802e-01, -8.46049583e-02, -8.85136110e-02,
         1.09335732e-01, -8.21591759e-03],
       [ 1.86233879e-01, -2.25520820e-02, -1.06613966e-01,
         2.77754444e-01,  4.13779130e-02],
       [ 1.90964323e-01, -4.73220789e-02, -1.08611688e-01,
         2.24511416e-01,  8.51931329e-03],
       [ 1.92280561e-01, -5.77116204e-02, -1.06698608e-01,
         1.95988230e-01,  7.65882743e-03],
       [ 1.95964501e-01,  3.85349821e-02,  7.33379581e-02,
         5.81429459e-03, -6.89302202e-02],
       [ 1.27370073e-01,  1.94931477e-01,  2.01604201e-01,
         3.19320527e-01,  1.12123724e-01],
       [ 1.57091651e-01,  1.63656950e-01,  2.26516741e-01,
         1.37413675e-01, -3.39360663e-02],
       [ 1.44718454e-01, -1.09251382e-02,  3.24785579e-01,
         1.39186032e-01, -1.62063502e-01],
       [ 1.46170343e-01, -2.35450969e-01,  1.51403819e-03,
        -2.80863481e-01, -1.55919141e-01],
       [ 1.69830030e-01, -2.36021991e-01,  3.30442472e-02,
        -1.10483250e-01, -3.49628496e-02],
       [ 1.70035414e-01, -2.35401520e-01,  1.83430030e-02,
        -1.34909651e-01, -4.50096236e-02],
       [ 1.59445564e-01, -7.79588410e-02,  1.08227497e-01,
        -6.88951827e-02,  5.09780613e-01],
       [ 1.65005051e-01, -2.37822217e-01,  2.28440973e-02,
        -1.65332037e-01, -3.86863568e-02],
       [ 1.65769403e-01, -2.36291510e-01,  4.64044530e-02,
        -7.11041383e-02,  2.85336985e-02],
       [ 1.68141237e-01, -2.42537242e-01,  3.14115134e-02,
        -1.05025243e-01, -1.46528952e-02],
       [ 1.68749201e-01, -2.41054113e-01,  2.31222067e-02,
        -1.24265676e-01, -1.82055531e-02],
       [ 1.81918512e-01, -1.10583563e-01,  1.70101642e-01,
        -8.49238031e-02, -8.87577401e-02],
       [ 1.29582170e-01, -1.87941317e-04,  3.47777229e-01,
         1.61900641e-01,  1.28939718e-01],
       [ 1.53668977e-01, -1.36328426e-02,  3.47686613e-01,
         4.69110257e-02, -2.17780060e-02]])

In [8]:
original_values = pd.read_csv(os.path.join(os.path.dirname(indices_path), "variables_originales_exp.csv"))


# Lista de columnas exp1 a exp12
exp_cols = [f'exp{i}' for i in range(1, 13)]

# Calcular la diferencia logarítmica de 12 períodos para cada variable exp1 a exp12
for col in exp_cols:
    original_values[f'dlog_{col}'] = np.log(original_values[col]) - np.log(original_values[col].shift(12))
# Calcular la diferencia logarítmica con un rezago de 1 período
for col in exp_cols:
    original_values[f'dlog_{col}_lag1'] = np.log(original_values[col].shift(1)) - np.log(original_values[col].shift(13))

# Calcular la diferencia logarítmica con un rezago de 2 períodos
for col in exp_cols:
    original_values[f'dlog_{col}_lag2'] = np.log(original_values[col].shift(2)) - np.log(original_values[col].shift(14))

# Mostrar los primeros valores
original_values
date = original_values['_date_']

In [9]:
or_values = original_values.to_numpy()

or_values = or_values[:, 13:]
print(or_values.shape)

(384, 36)

In [10]:
print(np.shape(or_values))
print(np.shape(fact_load))



y = np.dot(or_values, fact_load)
# print(y.shape)

#concatenate the date as first column with the data
y = np.concatenate((date.to_numpy().reshape(-1, 1), y), axis=1)

y[122, 1]

(384, 36)
(36, 5)

0.19712870793259923

In [11]:
FEXPeviews = pd.read_csv("FEXPeviews.txt", delimiter="\t")

FEXPeviews

         _date_  fexp1f  fexp2f  fexp3f  fexp4f  fexp5f
0    1995-01-01     NaN     NaN     NaN     NaN     NaN
1    1995-02-01     NaN     NaN     NaN     NaN     NaN
2    1995-03-01     NaN     NaN     NaN     NaN     NaN
3    1995-04-01     NaN     NaN     NaN     NaN     NaN
4    1995-05-01     NaN     NaN     NaN     NaN     NaN
..          ...     ...     ...     ...     ...     ...
379  2026-08-01     NaN     NaN     NaN     NaN     NaN
380  2026-09-01     NaN     NaN     NaN     NaN     NaN
381  2026-10-01     NaN     NaN     NaN     NaN     NaN
382  2026-11-01     NaN     NaN     NaN     NaN     NaN
383  2026-12-01     NaN     NaN     NaN     NaN     NaN

[384 rows x 6 columns]

In [12]:
pca.transform(data_scaled)

array([[-0.14082494, -0.3680257 , -0.31434945,  0.15697813, -0.46486961],
       [-0.14488085,  0.0613828 , -0.01260377, -0.54761979, -0.41428865],
       [-0.15305285, -0.00697161, -0.03336654,  0.11590285, -0.63478586],
       ...,
       [ 0.61610091, -1.04707833, -1.29761821,  0.00662211,  0.0935687 ],
       [ 0.5420275 , -0.65076322, -1.10343849, -0.30345287,  0.05508169],
       [ 0.54108834, -0.51502838, -1.13308383, -0.09672702,  0.04186314]],
      shape=(250, 5))

In [13]:
data_scaled

,"@dlog(exp1,0,12)","@dlog(exp2,0,12)","@dlog(exp3,0,12)","@dlog(exp4,0,12)","@dlog(exp5,0,12)","@dlog(exp6,0,12)","@dlog(exp7,0,12)","@dlog(exp8,0,12)","@dlog(exp9,0,12)","@dlog(exp10,0,12)",...,"@dlog(exp3(-2),0,12)","@dlog(exp4(-2),0,12)","@dlog(exp5(-2),0,12)","@dlog(exp6(-2),0,12)","@dlog(exp7(-2),0,12)","@dlog(exp8(-2),0,12)","@dlog(exp9(-2),0,12)","@dlog(exp10(-2),0,12)","@dlog(exp11(-2),0,12)","@dlog(exp12(-2),0,12)"
122,-0.529015,-0.067446,-0.071435,0.087616,-0.416588,0.132027,0.157785,0.124608,-0.009617,0.372638,...,-0.075688,0.081738,-0.105250,0.112731,0.026831,0.023544,-0.032021,0.262750,-0.489601,0.318093
123,0.294978,-0.097748,-0.256529,-0.030746,0.248283,0.007727,-0.039275,-0.049425,-0.165927,-0.024656,...,-0.056458,-0.018969,-0.361284,0.021468,-0.017856,-0.038125,-0.067777,-0.071268,-0.216973,0.201371
124,-0.001429,-0.011904,-0.127720,0.039807,-0.967820,0.044522,0.050419,0.014101,-0.040149,0.028555,...,-0.068472,0.089238,-0.414427,0.133051,0.159234,0.126662,-0.007062,0.372033,-0.900353,0.297123
125,-0.080803,0.003520,-0.143902,0.024163,-0.683140,0.053378,0.089636,0.043461,-0.086588,-0.017506,...,-0.253634,-0.029149,0.250261,0.008735,-0.037851,-0.047413,-0.163415,-0.025203,0.380887,0.254044
126,-0.454311,0.007922,-0.084118,0.055711,-0.732359,0.070104,0.086033,0.043483,0.045762,0.017333,...,-0.124777,0.041419,-0.965506,0.045535,0.051855,0.016128,-0.037603,0.028001,-0.101733,0.230485
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
367,-0.533013,0.299840,0.424302,0.351780,-0.160932,0.390256,0.393089,0.460298,0.436105,-0.033629,...,0.385398,0.323896,-0.053240,-0.186869,0.345260,0.471819,0.432456,0.006466,0.088854,-0.286817
368,-0.233415,0.166816,0.312854,0.224536,0.116834,0.213998,0.222542,0.298102,0.297536,-0.060732,...,0.534990,0.409720,0.064047,0.468898,0.420463,0.580928,0.561994,0.124110,-0.439009,-0.250719
369,-0.645761,0.101425,0.258587,0.260500,0.003137,0.262414,0.190881,0.323377,0.315507,0.031117,...,0.427444,0.353454,-0.158841,0.391312,0.394570,0.462431,0.438783,-0.034175,-0.317097,-0.285856
370,-0.208440,0.175142,0.342831,0.212585,-0.024333,0.179567,0.160288,0.259583,0.256305,0.043146,...,0.315956,0.226185,0.118849,0.215032,0.224000,0.300197,0.300176,-0.061273,-0.132410,-0.419744
371,-0.238890,0.135114,0.266009,0.247874,0.065433,0.204448,0.202986,0.227664,0.277950,0.011809,...,0.261669,0.262156,0.005183,0.263454,0.192336,0.325477,0.318152,0.030562,-0.474016,-0.406014