In [1]:
import pandas as pd
df = pd.read_excel(r'C:\Users\lucas\Downloads\analisis_factorial_1.xlsx')
df

,Año,CCAA,V1,V2,V3,V4,V5,V6,V7,V8,V9
0,2023,Andalucía,43.9,10.1,24.2,46.5,13.6,15.6,5.2,9.5,39.8
1,2023,Aragón,25.7,3.9,13.9,30.4,10.2,11.9,3.6,4.4,23.3
2,2023,Asturias,28.6,5.1,16.9,27.4,7.8,9.0,3.5,4.7,21.0
3,2023,"Balears, Illes",30.4,4.2,18.5,36.3,12.1,15.8,4.0,4.7,25.6
4,2023,Canarias,42.2,12.6,27.6,53.1,17.6,21.3,8.2,10.7,38.7
...,...,...,...,...,...,...,...,...,...,...,...
204,2013,"Navarra, Comunidad Foral de",31.0,0.6,2.3,24.0,3.3,3.3,2.8,1.6,24.4
205,2013,País Vasco,26.3,1.8,7.8,24.3,5.5,5.5,4.5,4.5,34.3
206,2013,La Rioja,39.9,4.6,9.9,32.8,10.4,11.0,4.6,3.5,34.4
207,2013,Ceuta,56.2,0.2,16.2,69.6,24.9,28.7,17.7,15.9,64.4
208,2013,Melilla,37.5,10.5,18.7,45.9,16.4,17.8,12.4,13.9,32.6